name: Vonage Go SDK

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    name: Standards checks
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.11", "1.12", "1.13", "1.14", "1.15"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
          args: -v --skip-dirs sms --skip-dirs voice --skip-dirs verify --skip-dirs verify --skip-dirs numberInsight --skip-dirs numbers --skip-dirs application

  test:
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        go-version: ["1.11", "1.12", "1.13", "1.14", "1.15"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v2
      - run: go test -v github.com/vonage/vonage-go-sdk github.com/vonage/vonage-go-sdk/jwt github.com/vonage/vonage-go-sdk/ncco
